
body {
    min-height: 100vh;
    background-color: rgb(24, 6, 105);
    font-family: system-ui, 
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: background-image 1s ease-in-out;
    
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    align-self: flex-end;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    height: 100vh;
}

.main-container > *:first-child {
  margin-top: 1vh;
}
.main-container > *:last-child {
  margin-bottom: 1vh;
}

.weather-location-form {
    display: flex;
    gap: 0.5rem;
    width: max(30%, 320px);
}

.search-form{
    display:flex;
    position: relative;
    flex: 1;
}

/* Input is hidden by default */
.weather-location-name {
 
    padding: 0.65em 5em;
    box-sizing: border-box;
    opacity: 0.2;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; /* Prevents interaction when hidden */
    flex-grow: 1;
    color: white;
    font-weight: 500px;

    /* From https://css.glass */
    background: rgba(31, 2, 94, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(133, 122, 255, 0.326);
}

/* When hovering over the form, show the input */
.weather-location-form:hover .weather-location-name {
    opacity: 1;
    transform: scaleX(1);
    pointer-events: auto;
}

.search-icon {
    position: absolute;
    left: 0.6em;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    height: 1em;
    pointer-events: none; /* Let user click input behind it */
}

.weather-data {
    display: flex;
    gap: 1vw;
    flex-direction: column;
    align-items: center;
    color:white;
}

.time-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
    align-items: center;
    
}

.current-time {
    font-weight: 200;
    font-size: 1.2rem;
}

.current-date {
    font-weight: 250;
    font-size: 1.5rem;
}

.current-location {
    font-weight: 300;
    font-size: 1.6rem;
}

.current-time, .current-date, .current-location, .temperature {
    text-shadow: -9px 8px 23px rgba(0,0,0,0.78);
    
}

.temperature {
    color: white;
}

.weather-icon {
    width: 200px;
    height: 200px;
}

.switch-button {
    align-self: flex-end;
    margin: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}



.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}